<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>{ meta | documentName }</title>

  <link href="stylesheets/styles.css" rel="stylesheet" type="text/css" media="all">
	<link href="stylesheets/preview.css" rel="stylesheet" type="text/css" media="screen">

	<script data-main='dist/main' src='vendor/requirejs/require.js'></script>
	<!-- Please read the Nota README.md on how to turn this into a PDF or preview it -->
</head>
<body>
	<img id="logo" src="images/aerix-logo.svg" alt="Aerix company logo" />
	<div id="company-info">
		<p>
			<strong class="company-fullname">{ origin | companyFull }</strong><br>
			<span class="street-address">{ origin.address }</span><br>
			<span class="post-address">{ origin.postalcode }</span>,
			<span class="place">{ origin.town }</span><br>
			<span class="country">{ origin.country }</span><br>
			<a class="email" rv-href="origin.email|email">{ origin.email }</a><br>
			<a class="website" rv-href="origin.website|website">{ origin.website }</a>
		</p>
		<p id="accounts">
			IBAN: <span class="iban">{ origin.iban }</span><br>
			Bank: <span id="bank-name">{ origin.bank }</span><br>
			BIC/SWIFT: <span id="bic">{ origin.bic }</span><br>
			BTW:	<span id="vat-number">{ origin.vat }</span><br>
			KvK: <span id="kvk">{ origin.kvk }</span><br>
		</p>
	</div>
	<div id="envelope-window">
		<span id="retour-line">
			<strong class="company-fullname">{ origin | companyFull }</strong>, 
			<span class="street-address">{ origin.address }</span>,
			<span class="post-address">{ origin.postalcode }</span>
			<span class="place">{ origin.town }</span>,
			<span class="country">{ origin.country }</span>
		</span>

		<p id="client-block">
			<strong id="organization"	rv-show="client.organization">
				{ client.organization }
			</strong><br>
			<span id="contact-person"	rv-show="client.contactPerson">
				{ client.contactPerson }
			</span><br>
			<span id="address"			rv-show="client.address">{ client.address }</span><br>
			<span id="postal-code" 	rv-show="client.postalcode">{ client.postalcode }</span>
			<span id="place" 				rv-show="client.town">, { client.town }</span><br>
			<span id="country" 			rv-show="client.country | isInternational">
				{ client.country }
			</span>
		</p>
	</div>
	<div id="invoice-meta">
		<span class="muted" data-i18n="invoice-number">invoice number</span>
		<h3 id="invoice-id">{ meta | fullID }</h3>
		<table>
			<tr>
				<td class="muted" data-i18n="invoice-date">invoice date</td>
				<td class="muted" data-i18n="valid-through">valid through</td>
			</tr>
			<tr>
				<td id="invoice-date">
					{ meta.date | invoiceDate client.country }
				</td>
				<td id="expiration-date">
					{ meta.date | expiryDate validityPeriod client.country }
				</td>
			</tr>
		</table>
	</div>
	<div id="invoice-body">
		<p class="opening">
			Dear<span class="client-string"> { client | clientDisplay }</span>, hereby the invoice for the following delivered <span class="pluralize">
				<span class="plural">services</span>
				<span class="singular">service</span>
			</span>:
		</p>
		<table>
			<colgroup>
			   <col span="1" class="servicename">
			   <col span="1" class="price">
			   <col span="1" class="quantity">
			   <col span="1" class="subtotal">
			</colgroup>

			<thead>
				<tr><th colspan="4" class="project-name">{ projectName }:</th></tr>
				<tr class="table-meta">
					<th>Service</th>
					<th>Price</th>
					<th>Quantity</th>
					<th>Price</th>
				</tr>
			</thead>

			<tbody>
				<tr class="item">
					<td class="description">Item description</td>
					<td class="price" data-currency>€ 1234,56</td>
					<td class="quantity">1</td>
					<td class="subtotal" data-currency>€ 1234,56</td>
				</tr>
				<tr class="item">
					<td class="description">Item description</td>
					<td class="price" data-currency>€ 1234,56</td>
					<td class="quantity">1</td>
					<td class="subtotal" data-currency>€ 1234,56</td>
				</tr>
				<tr class="item">
					<td class="description">Item description</td>
					<td class="price" data-currency>€ 1234,56</td>
					<td class="quantity">1</td>
					<td class="subtotal" data-currency>€ 1234,56</td>
				</tr>
			</tbody>

			<tfoot>
				<tr><td colspan="3">Subtotaal</td><td class="subtotal" data-currency>€ 1234,56</td></tr>
				<tr>
					<td colspan="3">BTW (<span class="vat-percentage"></span>%)</td>
					<td class="vat">{ invoiceItems | invoiceSubtotal | VAT vatPercentage | currency }</td>
				</tr>
				<tr><td colspan="3">Totaal</td><td class="total" data-currency>€ 2345,67</td></tr>
			</tfoot>
		</table>
		<span id="closing">
			<p>
				Wij verzoeken u hierbij vriendelijk tijdig het totaalbedrag van <b class="total"></b> over te maken
				naar rekeningnummer <b class="iban"></b>, onder vermelding van het factuurnummer <b class="invoice-id"></b>.
			</p><p>
				Voor vragen over deze factuur kunt u uiteraard altijd contact met ons opnemen via <span class="email link">address@mail.com</span>.
			</p>
		</span>
	</div>
	<footer class="row-fluid">
		<p class="span6">
			Deze factuur vervalt <span class="validity-period">14</span> dagen na factuurdatum. 
			Gelieve voor <span id="expiration-date"></span> het totaalbedrag over te maken
			naar <span class="iban"></span> t.n.v. <span class="company-name">Companyname</span>
			o.v.v. het factuurnummer.
		</p>
		<p class="span5 offset1">
			Deze factuur is opgesteld in overeenkomst met onze algemene voorwaarden. Deze zijn te vinden op:<br>
			<span class="link">aerix.nl/algemene-voorwaarden</span>.
		</p>
	</footer>
</body>
</html>