.DS_Store

/.sass-cache/
/bower_components/
/node_modules/

# Aerix related stuff
aerix-environment.coffee
aerix-environment.json
/templates/*/bower_components/
/invoices/

# Dev related stuff
/Nota.sublime-project
/Nota.sublime-workspace

.vagrant/
/*.pdf
npm-debug.log
