.DS_Store

/.sass-cache/
/bower_components/
/node_modules/

/javascript/*.js
/templates/example-aerix/javascript/aerix-environment.coffee
/templates/example-aerix/javascript/*.js
/templates/example-aerix/stylesheets/invoice.css

/Nota.sublime-project
/Nota.sublime-workspace
