.DS_Store

/.sass-cache/
/bower_components/
/node_modules/

# Aerix related stuff
/templates/example-aerix/json/aerix-environment.coffee
/templates/*/bower_components/
/invoices/

# Dev related stuff
/Nota.sublime-project
/Nota.sublime-workspace

.vagrant/
/*.pdf
