@import '../../../bower_components/bootstrap.css/css/bootstrap.min.css';
@import 'compass';

$primaryOrange: #E38A24;
$secondaryOrange: #945205;

$primaryBlue: #259CCF;
$secondaryBlue: #15678A;
$tertiaryBlue: #1A2C33;

$textColor: $tertiaryBlue;

$fallbackkFontstack: "Helvetica Neue", Helvetica, 'Trebuchet MS', Arial, sans-serif;
html {
	background-color: lightgrey;
}

body {
	background-color: white;
	color: $textColor !important;
	margin: 35px auto;
	width: 210mm;
	// height: 297mm; // Actual A4-portrait height, but we want to allow multiple pages, so no limit
	min-height: 297mm;
	padding-bottom: 3cm;
	@include box-shadow(0 0 30px 0 transparentize(black, 0.5));
	@include box-sizing(border-box);
	position: relative;
	font-family: 'Kreon', $fallbackkFontstack;
}
a, .link {
	color: $primaryBlue !important;
	&:hover {
		color: $secondaryBlue !important;
	}
}
// Override bootstrap
.muted {
	color: mix($textColor, white) !important;
}

img#logo {
  margin: 15mm 21mm;
  width: 285px;
}
div.company-info {
	display: inline-block;
	float: right;
	margin: 15mm 15mm 15mm 0;
	text-align: right;
	p#accounts {
		@extend .muted;
		margin-top: 1cm;
	}
}
div#envelope-window {
	left: 21mm;
	position: absolute;
	top: 46mm;
	font-family: $fallbackkFontstack;

	span#retour-line {
		border-bottom: 1px solid black;
		display: block;
		font-size: 2.8mm;
		height: 1.8em;
		margin-bottom: 6mm;
	}
}

div#invoice-meta {
	$side: right;
	float: $side;
	text-align: $side;
	clear: both;
	margin: 8mm 15mm 8mm 21mm;
	span { @extend .muted; }
	h3 {
		line-height: 1em;
		margin-top: 0;
		margin-bottom: 1cm;
	}
	table tr td:nth-child(2n) {
		padding-left: 1cm;
	}
}
div#invoice-body {
	clear: both;
	margin: 0 15mm 0 21mm;

	table {
		width: 100%;
		margin-bottom: 1cm;
		colgroup {
			col.servicename {
				width: 60%;
			}
			col.price {
				width: 15%;
			}
			col.quantity {
				width: 10%;
			}
			col.subtotal {
				width: 15%;
				text-align: right;
			}
		}
		th.project-name {
			height: 2em;
			border-bottom: 2px solid $textColor !important;
		}
		tr.table-meta {
			height: 2em;
			border-bottom: 1px solid transparentize($textColor, 0.5);
			th {
				text-align: left;
			}
			th:last-child {
				text-align: right;
			}
		}
		tr td:last-child {
			text-align: right;
		}
		tbody tr:first-child {
			height: 2em;
			vertical-align: bottom;
		}
		tbody tr:last-child {
			height: 2em;
			vertical-align: top;
		}
		tfoot {
			border-top: 1px solid transparentize($textColor, 0.5);
			tr:first-child {
				height: 2em;
				vertical-align: bottom;;
			}
		}
	}
}
footer {
	border-top: 1px solid $textColor;
	bottom: 0;
	font-size: 0.8em;
	line-height: 1.2em;
	margin: 0 2cm 4mm;
	padding-top: 1mm;
	position: absolute;
	width: auto !important;
	letter-spacing: 0.013em;
}