@import url(../bower_components/bootstrap/dist/css/bootstrap.css);
html {
  background-color: lightgrey; }

body {
  padding-bottom: 3cm;
  color: #1a2c33 !important;
  font-family: "DINPro", "Helvetica Neue", Helvetica, "Trebuchet MS", Arial, sans-serif;
  font-size: 1.4em;
  padding: 15mm 21mm; }

a, .link {
  color: #259ccf !important; }
  a:hover, .link:hover {
    color: #15678a !important; }

.muted, div#company-info p#accounts, div#invoice-meta span {
  color: rgba(26, 44, 51, 0.4) !important; }

img#logo {
  width: 75mm; }

div#company-info {
  display: inline-block;
  float: right;
  text-align: right; }
  div#company-info p#accounts {
    margin-top: 1cm; }
    div#company-info p#accounts span {
      color: #1a2c33; }

div#envelope-window {
  left: 21mm;
  position: absolute;
  top: 46mm; }
  div#envelope-window span#retour-line {
    border-bottom: 1px solid black;
    display: block;
    font-size: 2.8mm;
    height: 1.8em;
    margin-bottom: 6mm; }

div#invoice-meta {
  float: left;
  text-align: left;
  clear: both;
  margin: 8mm 0 8mm 0; }
  div#invoice-meta h3 {
    line-height: 1em;
    margin-top: 0;
    margin-bottom: 1cm;
    font-weight: 400; }
  div#invoice-meta table tr td:nth-child(2n) {
    padding-left: 1cm; }

div#invoice-body {
  clear: both; }
  div#invoice-body table {
    width: 100%;
    margin-bottom: 1cm; }
    div#invoice-body table colgroup col.servicename {
      width: 60%; }
    div#invoice-body table colgroup col.price {
      width: 15%; }
    div#invoice-body table colgroup col.quantity {
      width: 10%; }
    div#invoice-body table colgroup col.subtotal {
      width: 15%;
      text-align: right; }
    div#invoice-body table th.project-name {
      height: 2em;
      border-bottom: 2px solid #1a2c33 !important;
      text-align: center; }
    div#invoice-body table tr.table-meta {
      height: 2em;
      border-bottom: 1px solid rgba(26, 44, 51, 0.5); }
      div#invoice-body table tr.table-meta th {
        text-align: left; }
      div#invoice-body table tr.table-meta th:last-child {
        text-align: right; }
    div#invoice-body table tr td:last-child {
      text-align: right; }
    div#invoice-body table tbody tr:first-child {
      height: 2em;
      vertical-align: bottom; }
    div#invoice-body table tbody tr:last-child {
      height: 2em;
      vertical-align: top; }
    div#invoice-body table tbody tr:first-child:last-child {
      vertical-align: middle; }
    div#invoice-body table tfoot {
      border-top: 1px solid rgba(26, 44, 51, 0.5); }
      div#invoice-body table tfoot tr:first-child {
        height: 2em;
        vertical-align: bottom; }

footer {
  border-top: 1px solid #1a2c33;
  bottom: 15mm;
  left: 21mm;
  right: 21mm;
  font-size: 0.8em;
  line-height: 1.2em;
  padding-top: 1mm;
  position: absolute;
  letter-spacing: 0.013em; }
