<html>
<head>
<title>Hello</title>

<link rel="stylesheet" type="text/css" media="screen,print" href="/style.css">
</head>

<body>

<img src="logo.png" style="float: right; width: 148px;" id="logo">
<h1>{ text }</h1>
<p style="text-align: justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam scelerisque enim ac est porttitor condimentum. Suspendisse lobortis scelerisque vestibulum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin enim mi, venenatis non semper sed, lacinia quis lorem. Donec non nunc quis mauris rhoncus commodo. Sed porttitor, velit non tincidunt congue, mauris augue interdum lectus, vitae consequat velit lectus sed metus. Ut eget mattis urna. Nulla eu velit ex. Mauris ut placerat arcu. In hac habitasse platea dictumst. Nunc accumsan enim sed sapien tempor, vitae finibus nibh faucibus. Sed id mauris mauris.<br>
<br>
Sed commodo euismod nibh. Phasellus rhoncus orci ac ante mattis, id tempus ex tempus. Mauris vestibulum condimentum tellus et porttitor. Maecenas eget sapien metus. Fusce euismod neque lorem, id malesuada magna varius eu. Curabitur ac purus quis odio rhoncus dignissim ac sit amet mauris. Proin lobortis, sem vitae sagittis bibendum, sapien ex vestibulum neque, in venenatis dui mi id felis. Pellentesque commodo nisi erat, vel tempus quam dapibus vitae.</p>

<img style="margin-top: 8cm; margin-left: auto; margin-right: auto; border-color: black; border-style: solid; border-width:0.1cm;" src="/cool.jpg">
</body>

</html>
